.landingPage {
  overflow: hidden;
  height: 52.5vw;

  padding: 0px !important;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  background-color: #cf2128;
  .videoContainer {
    padding: 0px !important;
    margin: 0px !important;
    .video {
      object-fit: fill;
      video {
        padding: 0px !important;
        margin: 0px !important;
        position: relative;
        justify-self: center;
        object-fit: fill;
        min-width: 100%;
        height: 100%;
      }
    }
  }
  .videoitems {
    position: sticky;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .videotext {
      font-size: 3.5vw;
      font-weight: 600;
      color: #fff;
    }
    .para {
      font-size: 1.5vw;
      font-weight: 600;
      color: #fff;
    }
  }
  img {
    position: sticky;
    bottom: -1vw;
    right: -2vw;
    display: flex;
    margin: 0%;
    height: 10vw;
    width: 100%;
    padding: 0px;
    //background-position: 100% 100%;
  }
}

@media only screen and (max-width: 768px) {
  .landingPage {
    height: 200vw;
    .videoitems {
      .videotext {
        text-align: center;
        font-size: 6vw;
        .para {
          font-size: 4vw;
        }
      }
    }
  }
}
