.services{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #314FF4;
        

.plb{color: #FFF;
        font-size: 58px;
        font-style: normal;
        font-weight: 400;
        line-height: 69.6px; 
        margin : 250px 0px 100px 0px;
        }

}