.App {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
@keyframes anime_dropin {
  from {
   opacity: 0;
   transform: translateY(-100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }
 

.slideanimate{
  transition: anime_dropin  1s linear;
}